<section id="fim" class="fin">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <p class="lead">  <h2>후기</h2><br>
      <hr>
      </div>


이번 과제를 통해 블로그를 처음으로 만들어 보았다. 처음에는 "Hello, World"가 써진 index.html파일도 404 not found가 떠 나를 힘들게 하였다.
겨우겨우 하나를 해결하면 또 다른데서 오류가 나오기도 하였다. 그리고 내가 수정을 해서 git push를 하면 3분정도 뒤에 수정이 되는것을 기다리는 게 너무 힘들었다.
그렇게에 하나하나 해결해 가는 과정에서 쾌감이 있었다. 내가 몰랐었던 것을 알게 되고, 다양한 코드도 보았다. 과제라 억지로 한 마음은 없지는 않았으나 끌나고 다 살펴보면서 '이걸 내가 만들었나?'라는 생각도 하게 되었다.
모든것 하나하나 의미를 이해하지 못했지만 전체적인 틀을 배우는 데 도움이 되었다. 그리고 자기소개서라는 것을 써봄으로 나 자신을 둘러보는 경험을 할수 있는 좋은 기회였다. 내가 현재 무엇을 할 수 있으며 내가 원하는 것이 무엇이지 등
내가 나를 관찰해 관찰일지를 작성하는 것 같았다. 이 과제를 통해 매우 유익한 시간을 보내게 된것이 기쁘다





    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
