<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>fork 한 저장소</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://github.com/hsj3359/cp2lecturenotes"><h3>
            c#강의 자료

              </h3></a>



              <a href="#">
                <img class="img-portfolio img-responsive" src="img/fork2.PNG">
              </a>
-c#을 처음 접해보는 사람에게 좋은 정보를 줌<br>
-교수님의 열과 성이 담겨있는 자료<br>


            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">

              <a href="https://github.com/hsj3359/Unity"><h3>
              GitHub for Unity

              </h3></a>
                            <a href="#">
                              <img class="img-portfolio img-responsive" src="img/fork1.PNG">

                            </a>
-github의 자료를 unity에 연결해주는 것<br>
-unity에서 자유롭게 git에 들어갈수 있게해줌<br>

            </div>
          </div>


        </div>
        <!-- /.row (nested) -->

      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
